/----------综合屏蔽规则----------/
! Last Updated:20190509

! 百度首页清理
www.baidu.com,m.baidu.com###commonBase
www.baidu.com,m.baidu.com###index-modal
www.baidu.com,m.baidu.com###index-view
www.baidu.com,m.baidu.com###textarea
www.baidu.com,m.baidu.com###search-card
www.baidu.com,m.baidu.com##.input-hidden
www.baidu.com,m.baidu.com###bottom
www.baidu.com,m.baidu.com##.tab-tools
www.baidu.com,m.baidu.com##.blank-frame
www.baidu.com,m.baidu.com###menu-container
www.baidu.com,m.baidu.com###navs
www.baidu.com,m.baidu.com###index-box
www.baidu.com,m.baidu.com##.se-inner
www.baidu.com,m.baidu.com###logo
www.baidu.com,m.baidu.com###skin-wrap
www.baidu.com,m.baidu.com###userinfo-wrap
www.baidu.com,m.baidu.com###skin-container
www.baidu.com,m.baidu.com###weather
www.baidu.com,m.baidu.com###appBanner
www.baidu.com,m.baidu.com###banner
www.baidu.com,m.baidu.com##.callappbox
www.baidu.com,m.baidu.com##.first-card-container

! 百度搜索结果清理
||baidu.com/se/static/js/modules/invoke/app
www.baidu.com,m.baidu.com###head
www.baidu.com,m.baidu.com###page-copyright
www.baidu.com,m.baidu.com###page-ft
www.baidu.com,m.baidu.com##.rw-title
www.baidu.com,m.baidu.com##b-scroll
! www.baidu.com,m.baidu.com###page-tips
www.baidu.com,m.baidu.com###se-box
www.baidu.com,m.baidu.com##.wa-sam-wz-micro-video3-wrapper
www.baidu.com,m.baidu.com##.wa-realtime-list
www.baidu.com,m.baidu.com##.c-gap-bottom-large
! www.baidu.com,m.baidu.com##.c-line-bottom
www.baidu.com,m.baidu.com##.wa-we-image
www.baidu.com,m.baidu.com##.c-recomm-wrap
www.baidu.com,m.baidu.com##.wa-image
www.baidu.com,m.baidu.com##.wa-wise-app-desc
www.baidu.com,m.baidu.com##.wa-wise-app-info-metabar
www.baidu.com,m.baidu.com##.wa-wise-app-searchhook
www.baidu.com,m.baidu.com##.wa-stock-lead
! www.baidu.com,m.baidu.com##.c-gap-bottom-small
! www.baidu.com,m.baidu.com##.c-moreinfo
www.baidu.com,m.baidu.com##.c-gap-right-small
! www.baidu.com,m.baidu.com##.c-color-gray
www.baidu.com,m.baidu.com##.c-foot-icon
www.baidu.com,m.baidu.com##.wa-sg-wise-app-download
! www.baidu.com,m.baidu.com##.c-showurl
! www.baidu.com,m.baidu.com##.c-gap-left
www.baidu.com,m.baidu.com##.wa-wise-sp-discuss
www.baidu.com,m.baidu.com##.wa-wise-video-entertainers-tabs-wrapper
www.baidu.com,m.baidu.com###tc-card-advertise-container
! www.baidu.com,m.baidu.com##.c-line-clamp1
www.baidu.com,m.baidu.com##.c-text-info
www.baidu.com,m.baidu.com##.se-head-logo
www.baidu.com,m.baidu.com##.se-head-tablink
www.baidu.com,m.baidu.com##.se-bearicon
www.baidu.com,m.baidu.com##.page-banner
www.baidu.com,m.baidu.com##.wa-bk-polysemy-anchor-span
#www.baidu.com,m.baidu.com##section
www.baidu.com,m.baidu.com##.suggest-wrapper
www.baidu.com,m.baidu.com##.wa-recommend-list
www.baidu.com,m.baidu.com##.wa-www-sitelink-normal-sublist_newux
www.baidu.com,m.baidu.com##.sfa-head-style-default
www.baidu.com,m.baidu.com##.wa-guanfanghao-main
www.baidu.com,m.baidu.com##.wa-shengka
www.baidu.com,m.baidu.com##.c-slink-auto
www.baidu.com,m.baidu.com#@#section
#www.baidu.com,m.baidu.com#@#b-scroll
#www.baidu.com,m.baidu.com#@#.c-gap-right-small
#www.baidu.com,m.baidu.com#@#.rw-title
#www.baidu.com,m.baidu.com#@##page-ft
www.baidu.com,m.baidu.com##.c-gap-top
www.baidu.com,m.baidu.com##.c-footer-no-showurl
www.baidu.com,m.baidu.com##.WA_LOG_SF
www.baidu.com,m.baidu.com##.c-scroll-wrapper
www.baidu.com,m.baidu.com##.wa-wise-app-sample-download
www.baidu.com,m.baidu.com##.wa-wise-app-sample-downhook
www.baidu.com,m.baidu.com##.wa-wise-app-sample-tip
www.baidu.com,m.baidu.com##.main
www.baidu.com,m.baidu.com###page-pre
www.baidu.com,m.baidu.com## .WA_LOG_SF
www.baidu.com,m.baidu.com##.c-row-tile

! 百度百科清理
||bkssl.bdimg.com/static/wiki*topAttach
@@/share/share_$domain=baike.baidu.com
baike.baidu.com###J-attach-top
baike.baidu.com###J-declare
baike.baidu.com###J-gotop
baike.baidu.com##.float-content-wrapper
baike.baidu.com##.BK-after-content-wrapper
baike.baidu.com###topbar_tashuo
baike.baidu.com###J-tashuo-button-fixed
baike.baidu.com###J-other-content
baike.baidu.com###J-catalog-tip
baike.baidu.com###J-spark-entry-container

! 百度极限清理
||*^$script,domain=www.baidu.com
||*^$script,domain=m.baidu.com

! bilibili清理
bilibili.com###b_app_link
bilibili.com##.download-link
bilibili.com##.player-inner-download
bilibili.com##.load-cover
bilibili.com*bannerList
live.bilibili.com##.none-select
bilibili.com##.index__container__src-commonComponent-bottomOpenApp-
bilibili.com##.index__openAppBtn__src-commonComponent-topArea-
bilibili.com###openAppBtn
bilibili.com##.h5-download-bar

! 百度贴吧清理
||bdstatic.com/tb/mobile/cool_game
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.bottom-wonderful-recommend
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.footer
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.sug_hot_recommend
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.sug_region_body:nth-of-type(2)
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.cool_game
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.can_close
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.j_click_stats
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.top_ext_li_recommend
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.more_btn_package
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.frs_sign_in_show
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.xiang-guan-tie
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com###bottom-share-button
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com###index-app-overlay
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.forum_recommend_w
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com###index-tuijian-wrap
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.j_tab_selected
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.j_tab_discovery
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.j_client_ghost_icon
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.share_footer_wrapper
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com###pb_imgs > a
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.pb_imgs_right2 > span
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.dia_mask
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.dia_wrapper
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.u9_pb_style
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.blue_kit_icon_search
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.blue_kit_left
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.fixed_bar
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.iSlider-wrapper-container-hot-thread
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.hongbao_page_pop_common
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.ui_image_header_bottom
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com###lzl_reply_postor_wrap
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.img_desc
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com###pb_reply_postor_wrap
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.j_daoliubar
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.share_content_item_pic_daoliu
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.pbshare_recommend_wrapper
tieba.baidu.com,dq.tieba.com,jump2.bdimg.com##.pb_cut_hot_recommend

! 知乎清理
zhihu.com##.AppMagicBanner
zhihu.com##.OpenInAppButton
zhihu.com##.CommentList-openInAppButton
zhihu.com##.AnswerList-openInpp
zhihu.com##div:nth-of-type(2) > div:nth-of-type(2) .Section-title
zhihu.com##.AppViewRecimmendedReading
zhihu.com##.RelatedReadings
zhihu.com##.Pin-openApp-ad
zhihu.com##.HotQuestions
||oia.zhihu.com^
zhihu.com##.Question-sideColumn
zhihu.com##.Banner
zhihu.com##.MBannerAd

! 新浪清理
sina.cn##body > section:nth-of-type(1)
sina.cn###pageJumpBtn
sina.cn##.j_shareBtn
sina.cn###pageJumpBtn
sina.cn##.art_share
sina.cn##.s_card_white_m
sina.cn##.j_article_relevent
sina.cn##.xc_conpoment
sina.cn###j_relevent_news_dfz
sina.cn##.ft

! 天猫清理
||alicdn.com/mui/smartbanner
||alicdn.com/mui/*app-download
tmall.com##.tm-ctn-loading
tmall.com###detail-base-smart-banner
tmall.com###J_smartjump
tmall.com###J_BottomSmartBanner

! 淘宝清理
||taobao.com/js/smartbanner
||alicdn.com/mtb/lib-smartbanner-plus
taobao.com##.download-adv
taobao.com##.suggest-container
taobao.com##.app-download
taobao.com##.install-app
||g.alicdn.com/mtb/lib-smb-wake
taobao.com##.more
taobao.com###bottom
taobao.com##a:nth-of-type(5)
taobao.com##.smartbanner-wrapper
taobao.com##.closed
taobao.com##.logo
taobao.com##div.tpl-wrapper:nth-of-type(4) > div > div:nth-of-type(3)
taobao.com##.detail-recommend
taobao.com##.recommends
||taobao.com/apps/market/trade/recommend.html$subdocument
taobao.com##.recommend-container
taobao.com###smartbanner
taobao.com##span.tab:nth-of-type(5)
taobao.com##.onesearch-container
taobao.com###J_guess_list
taobao.com##.scroll-container
taobao.com##.home-wrapper
taobao.com##.waterfall
taobao.com##.title
taobao.com##.slide-item

! 百度经验清理
jingyan.baidu.com###exp-fixed-bottom
jingyan.baidu.com##.placeholder
jingyan.baidu.com##.wgt-rel-magazine
jingyan.baidu.com##.wgt-ad-bottom
jingyan.baidu.com##.wgt-ad-recommend
jingyan.baidu.com##.wgt-toolbar-n
jingyan.baidu.com##.wgt-btn-group-tool
jingyan.baidu.com##.wgt-footer
jingyan.baidu.com##.warning
jingyan.baidu.com##.wgt-ad-recommend
jingyan.baidu.com##.ad-card
jingyan.baidu.com##.wrapper-slider
jingyan.baidu.com##.wgt-ad-exp-pic

! 百度图片清理
image.baidu.com##.dom-inspector
image.baidu.com##.new
image.baidu.com##.addon-container-0
image.baidu.com##.gotop
image.baidu.com##.mediacy-rs-contain
image.baidu.com##.istextlink

! 百度知道清理
! zhidao.baidu.com#@#.question-container
zhidao.baidu.com##.dom-inspector
zhidao.baidu.com###p-footer
zhidao.baidu.com###releatd-mavin-pagelet
zhidao.baidu.com###people-concern-pagelet
zhidao.baidu.com###p-gotop
||bdstatic.com/*m_common_share*js,domain=zhidao.baidu.com
zhidao.baidu.com##.banner-list-dots
zhidao.baidu.com###p-header
zhidao.baidu.com###p-relate-question
zhidao.baidu.com## .dec
zhidao.baidu.com##.append
zhidao.baidu.com##.w-special-answer > h2
zhidao.baidu.com##.cur
||zhidao.baidu.com$xmlhttprequest
zhidao.baidu.com##.realNameTip
zhidao.baidu.com##.icon-ad
zhidao.baidu.com###ask-for-help
zhidao.baidu.com##.ask-for-friend
zhidao.baidu.com##.dl
zhidao.baidu.com##.js-hot-topic
zhidao.baidu.com##.new-answer-entry
zhidao.baidu.com##.ikheader-btn-download
||iknowwap.bdimg.com/static/m-question-new/widget/ad-middle-promote/*
||iknowwap.bdimg.com/static/m-question-new/widget/feed-recommend/*
||iknowwap.bdimg.com/static/m-common/widget/js/ui/poptip/*
||iknowwap.bdimg.com/static/m-common/widget/js/ui/tip/*
||iknowwap.bdimg.com/static/m-common/widget/js/logic/bottom-button/*
||fex.bdstatic.com/hunter/alog/alog.mobile.min.js
zhidao.baidu.com##.icon-bannerad
zhidao.baidu.com##.header-act-entry
zhidao.baidu.com###w-gotop
zhidao.baidu.com##.ask-to-business-box

! 百度云清理
pan.baidu.com##.foot-container
pan.baidu.com##.temp-tip
pan.baidu.com###transferPopBox
pan.baidu.com##.module-cardtip-mask
pan.baidu.com##.module-cardtip-box
pan.baidu.com###dialog1
pan.baidu.com###wizard-functions-intro
pan.baidu.com###buyCenterLink
pan.baidu.com##.red-packet-box
pan.baidu.com##.copy-wrap

! miui论坛清理
miui.com###app

! 139邮箱清理
mail.10086.cn###advertisingPicture
mail.10086.cn##.uniPositionArticle

! 酷安清理
coolapk.com##.visible-xs

! apkpure清理
apkpure.com##.aegon-warp

! 百度翻译清理
fanyi.baidu.com##.android-style
fanyi.baidu.com##.bottom-intro
fanyi.baidu.com##.download-btn

! qq邮箱清理
mail.qq.com##.top_announce_mobileqq
mail.qq.com##.qm_toolbar_WeReadAd
mail.qq.com##.folderlist_note
mail.qq.com##.folderlist_bottle
mail.qq.com##.folderlist_contacts
mail.qq.com##.folderlist_filestation
mail.qq.com##.folderlist_attach
mail.qq.com##.folderlist_card
mail.qq.com##.folderlist_openrss
mail.qq.com##a[href^="http://info.3g.qq.com"]
mail.qq.com##.qm_footer_links > a[href^="/cgi-bin/readtemplate"]
mail.qq.com##.resultPage_subtitle
mail.qq.com##.login_container
mail.qq.com##.readmail_warning_bar
mail.qq.com##.folderlist_hotapp
mail.qq.com##.qm_infopanel_Block
mail.qq.com##.today_infopanel_item

! d-h.st清理
d-h.st###downloadfile3

! 小米 bbs 清理
bbs.xiaomi.cn##.bannerBottom

! smartisan bbs 清理
bbs.smartisan.com##.tips-download

! 京东清理
jd.com###download_banner
jd.com###search_land_searchland
jd.com###layout_appdown_view
jd.com###indexFloatLayer
jd.com###btmToTop
||360buyimg.com*downloadAppPlugIn*.js
||st.360buyimg.com/common/commonH_B/js/monitoringTool.min.js
jd.com###searchList_open_app
jd.com##.searchListDownApp
jd.com###content
jd.com###mCommonDiscover
jd.com###mDownload
jd.com###recowordBlock
jd.com##.qq_footer
jd.com###js-recommendations
jd.com###msHotSearch
jd.com###js_app_entrance_bar
jd.com##.expo_loaded
jd.com###mainContent
jd.com###mCommonFooter
jd.com###search-input-left-jd
||360buyimg.com*jdappdl*.js

! 手机乐园清理
shouji.com.cn###backtop
shouji.com.cn##.aegon-warp
shouji.com.cn##.safe-link
||tj.hackhome.com/mipjs/all/topapp.js
||tj.shouji.com.cn/app/comment_json_v3.jsp$script
shouji.com.cn##.rec_Q
shouji.com.cn##.Q_tip
shouji.com.cn##.app_article
shouji.com.cn##.app_soft

! 小米商城清理
mi.com###globalLoading
mi.com##.download-app-go
mi.com###top

! 作业帮清理
zybang.com###smallLayer
zybang.com###middleAd
zybang.com##.askTeacher
zybang.com###topBannerFixed
zybang.com##.app-ads
zybang.com###baiduAd
zybang.com##.qb_wgt-recommend
zybang.com##.qb-wgt_footer
zybang.com##.qb-wgt_guide

! 太平洋电脑网清理
pconline.com.cn###pc-aptg
pconline.com.cn##.toTop-btn
pconline.com.cn##.write-cmt
pconline.com.cn##.m-yiyetu
pconline.com.cn###JappJump

! 萌娘百科清理
moegirl.org##.heimu

! opengapps清理
opengapps.org###topa

! 微盘清理
vdisk.weibo.com###recommend_for_file_container

! 有道note清理
note.youdao.com###app-dl

! 土豆清理
tudou.com##.cms-banner
tudou.com##.td-h5__player__appguide
tudou.com##.td-h5__appguide-fix
tudou.com##.td-h5__relatedvideos

! 广告域名
||jiansuo.dsxdn.com^
||hao.1235k.com^
||w1.guowuhui.com^
||9ads.net^
||a0c77.com^
||qdscgj.com^
||hbd.url.cn^
||tuia.cn^
||ad.qun.qq.com^
||hnjtls.net^
||res.wx.qq.com^
||ltheanine.cn^
||qifanwang.cn^
! ||sohucs.com^
||waczt.cn^
||aa.hysdknb.com^
||adhudong.com^
||awqsaged.cn^
||validcdn.xyz^
||s3.amazonaws.com^$script
||hao245.com^
||umm6.cn^
||etr1a.com^
||dami66.cn^
||52itv.cn^
||thefifthera.com^
||dnskuu.com^
||ttzn5.cn^
||msujd.cn^
||fcunq.com^
||tjiaa.com^
||dstrchina.cn^
||tenh2.cn^
||blfyquz.cn^
||gdscan.cn^
||mhuos.com^
||xybaas.com^
||rdpsoho.com^
||themee.cn^
||puzwb.cn^
||uhor8.cn^
||kess13.cn^
||ca88b.cn^
||easypatent.net^
||xcxzxc.cn^
||ihais.com^
||vhuay.com^
||xinbajs.com^
||fxunn.com^
||yfano.com^
||hguac.com^
||u1ie3.cn^

! 百度重排清理
po.baidu.com###backTopModule
po.baidu.com##.openBox-shareEntry
po.baidu.com##.commentEmbed-backHomeBtn

 ! 搜狐清理
sohu.com##.header
sohu.com##.toHomeBtn
sohu.com##.select-wrapper
soho.com##.noFixed
soho.com##.sub-header
soho.com###MPCOMMENT
soho.com##.fixed
soho.com##.fixed_back_home
soho.com##.fixed_back_top

! coding清理
coding.net##.smart-app-banner

! qq安全清理
aq.qq.com###ad_app_priv

! 城通/皮皮盘清理
ctfile.com,pipipan.com##.pricing-box
ctfile.com,pipipan.com###local_vipby
ctfile.com,pipipan.com##.in
ctfile.com,pipipan.com##.alert
ctfile.com,pipipan.com##.btn-yellow
ctfile.com,pipipan.com###btn-scroll-up
ctfile.com,pipipan.com###inapp_download
ctfile.com,pipipan.com##[href="http://www.lanjuhua.com/"]
ctfile.com,pipipan.com##.download-box > ul > li > span
ctfile.com,pipipan.com##.btn-block

! GitHub防手残
github.com##.mobile-banner

! 忘了啥广告
||new.jundaozichan.com^$subdocument

! 薯片清理
le.com###j-btn-showhide
le.com###j-leappMore

! 网易邮箱类清理
126.com##.mailApp
reg.163.com##.tabBdAd
mail.163.com##.mailApp
||mimg.127.net/index$image
reg.163.com###appMask
reg.163.com###shelter_div
reg.163.com###appDiv
reg.163.com###ursCode
reg.email.163.com##.mainBody-side
zc.reg.163.com###reg_block > div:nth-of-type(3)
mail.163.com##.sectionShow
mail.163.com###pop_ggpic
reg.163.com##.hd-you
reg.163.com##.g-mail-ad
mail.163.com###mailMasterTip

! Google防手残
google.com###qslc

! 路由器跳过加载动画
192.168.1.1##.loading
192.168.1.1##.dom-inspector

! pixiv清理
pixiv.net##.grid_ad
pixiv.net###premium-info-header
pixiv.net##.premium-info-bar
pixiv.net##.premium-lead
pixiv.net##.geta
pixiv.net###header > div
pixiv.net###spa-contents > div > div:nth-of-type(4)
pixiv.net##.work-share-box
pixiv.net##.premium-lead-t-footer
pixiv.net##span:nth-of-type(15)

! 中国移动清理
rd.go.10086.cn

! 汽车之家清理
||autohome.com.cn/news/*/user/main/mainpage

! 优酷清理
youku.com##.iconPop
||g.alicdn.com/ku/app-smartbanner/*
youku.com##.recommend

! 亚马逊清理
amazon.com###smart-app-banner
amazon.com###nav-mobile-airstream-stripe

! 自用
ip111.cn##td:nth-of-type(3)
pan.baidu.com###saveAll
pan.baidu.com###saveFile

! 移动叔叔清理
bbs.ydss.cn###mcon > .cl
bbs.ydss.cn###external-frame
||bbs.ydss.cn/public/ad_curl.php
||bbs.ydss.cn/b.html
bbs.ydss.cn##.lil
bbs.ydss.cn##.mdz_cat:nth-of-type(3)

! 澎湃新闻清理
thepaper.cn###moblink-href
thepaper.cn##.burger-abox
thepaper.cn###carousel_banner
thepaper.cn##.news_open_app
thepaper.cn##.fx
thepaper.cn##div.news_panel:nth-of-type(3)

! acfun清理
acfun.cn###prompt-box
acfun.cn###bottom-download
acfun.cn###btn-top-shortcut

! vps侦探清理
bbs.vpser.net###donate

! 花粉俱乐部清理
cn.club.vmall.com##.hbt-adimg

! CSDN清理
blog.csdn.net##.pre-numbering
blog.csdn.net##.hljs-button
blog.csdn.net###operate
blog.csdn.net##.clearfix
blog.csdn.net###comment
blog.csdn.net##.wapappdownloadbox
blog.csdn.net##.btn_app_link
blog.csdn.net##.overhidden
blog.csdn.net###blog-star
blog.csdn.net##.article-copyright

! 体验盒子清理
uedbox.com##.crayon-nums

! bing清理
bing.com###BottomAppPro

! zol清理
zol.com.cn###waitrep

! xda清理
xda-developers.com##.twig
xda-developers.com##.tagbar
xda-developers.com##.navigation

! 宽带技术网清理
chinadsl.net###wechat_float_qrcode

! DiggBT清理
diggbts.org##.flink
diggbts.org##.content

! 抖音清理
iesdouyin.com###pagelet-banner
iesdouyin.com##.list-wrap
iesdouyin.com###bannerBottom
iesdouyin.com###videoInfo
iesdouyin.com###recommWrap
iesdouyin.com##.downloadDlg
iesdouyin.com##.video-mask
iesdouyin.com##.user-follow-btn
iesdouyin.com##.download

! 微信清理
#mp.weixin.qq.com##.img_loading
mp.weixin.qq.com##mpcps

! 微博清理
weibo.cn##.m-col-2
weibo.cn##.m-col-5
weibo.cn##.ctype-3
weibo.cn##.ctype-1
weibo.cn##div.m-tips
||weibo.cn/sw.js
weibo.cn##.m-pictext-box1
weibo.cn##.m-tips
weibo.cn##router-view
weibo.cn##.OpenInAppButton
weibo.cn##.f-media:nth-of-type(2)

! 东海论坛清理
eastsea.com.cn##.hotkeylist

! 高清范清理
hdpfans.com##.comiis_bigad_p

! 1688清理
1688.com##.call-all-app-mask
1688.com###call-all-app-popver
1688.com###call-all-app-slider
1688.com##.sceneTop
1688.com##.banner-and-poplayer
1688.com##m-home-header
1688.com##.main-title

! 即刻清理
okjike.com##.a.top-banner__transition-wrap
okjike.com##.bottom-banner
okjike.com##.jk-button
okjike.com##.recommend-messages
||app.jike.ruguoapp.com/1.0/personalUpdates/userPost2PersonalUpdate

! 应用宝清理
app.qq.com###appbao-download-banner
app.qq.com###btn-fast-download
app.qq.com###normalOpenDialogFastDownBtn

! 简书清理
jianshu.com##.open-app-btn
jianshu.com###recommended-notes
jianshu.com##.download
jianshu.com##.comment-open-app-btn-wrap
jianshu.com###footer
jianshu.com##.header-wrap
jianshu.com##.gu-pao-ad
jianshu.com###note-ad

! Minecraft论坛清理
minecraftforum.net##.ad-container
minecraftforum.net##.footer-ad-medRect

! 51CTO清理
51cto.com##.app-download
51cto.com##.column-wrapper
51cto.com##.clearfix
51cto.com##.closeMB
51cto.com###Mask
51cto.com##body > div:nth-of-type(2)

! 搜狐清理
sohu.com##.header__r
sohu.com###apkBannerM
sohu.com###artRecNews
sohu.com###artLifeService
sohu.com##.article
sohu.com##.author-info
sohu.com##.article-tags
sohu.com##.statement
sohu.com###backTop
sohu.com###artCommentArea
sohu.com##.taobao-11-btn
sohu.com###shareAreaInArticle
sohu.com##.bottom-slot
sohu.com##.article-footer

! sourceforge清理
sourceforge.net##.button

! 思否清理
segmentfault.com##.app-open-in-bar
segmentfault.com##.widget-share__full

! 什么值得买清理
smzdm.com##.top-applink
smzdm.com##.logo-download
smzdm.com##.foot-banner
smzdm.com###J_header_top
smzdm.com##.flex
smzdm.com##.J_ota

! 网易清理
163.com##.doc-footer-wrapper
163.com##.show
163.com##.footer
163.com##.hot_news
163.com##footer
163.com##.bottom-wrapper
163.com##.js-slider
163.com##.js-top-slider
163.com##.g-relative-new
163.com##.g-hot-search
163.com##.js-redirect-newsapp
163.com##.m-newsapplite-redpacket-card
163.com##.js-open-newsapp
163.com##.m-advert

! speed4up清理
speed4up.com###headlineatas

! 乐乎清理
lofter.com##.m-moreselect
lofter.com###g-middldappbtn
lofter.com##.dldbtn
lofter.com###GNlockscreen
lofter.com###open-app
lofter.com##.g-comment
lofter.com##.g-recommend

! 豆瓣清理
douban.com##.promo_top_banner

! 智能电视清理
znds.com##.a_pr
znds.com###sitefocus

! 妖火清理
yaohuo.me##.google

! 腾讯视频清理
v.qq.com##.txp_tipbar
v.qq.com##.txp_recommend
v.qq.com###banner
@@&refer=http$script,domain=v.qq.com ! 解决内嵌视频无法加载
v.qq.com##.txp_watermark

! acg.rip清理
acg.rip###bangumi-box

! 恩山清理
right.com.cn##[href="mobcent/download/down.php"]
||right.com.cn/forum/mobcent/app/web/images/mobile/mobile-attach-*.png$image
right.com.cn##.error_text
right.com.cn##.bottom

! 应用汇清理
appchina.com###yyh-bottom

! 巴哈姆特动画疯清理
ani.gamer.com.tw##.goAPP
ani.gamer.com.tw##.anime-toapp

! it之家清理
quan.ithome.com##.hide
quan.ithome.com##.fixed-btn
quan.ithome.com##.go-top
quan.ithome.com##.hot-app
quan.ithome.com##.ruanmei-footer
quan.ithome.com##.head
quan.ithome.com##.footer
ithome.com##.down-app-box
ithome.com##.head
ithome.com##.footer
ithome.com##.hot-app

! 机锋清理
bbs.gfan.com##.openAppTop
bbs.gfan.com##.footer
bbs.gfan.com##.downs

! mega清理
mega.nz##.download-app
mega.nz##.app-info-cell

! 菜鸟教程清理
runoob.com##.footer_content
runoob.com##.scroll-top

! qq浏览器分享清理
v.html5.qq.com##.mod-download
v.html5.qq.com##.is-nomargin
v.html5.qq.com##.share
v.html5.qq.com##.mod-subscribe
v.html5.qq.com###confirmBox

! cnbeta清理
cnbeta.com###CbADsArticle
cnbeta.com##.tac

! 无忧启动清理
bbs.wuyou.net##.a_h
bbs.wuyou.net## .a_pt
bbs.wuyou.net##.a_t

! taptap清理
taptap.com###topBanner
taptap.com##.js-app-open.app-open
taptap.com##.icon-mobile-download
||static.tapdb.net/tapad*

! 虎嗅清理
huxiu.com###guide-box
huxiu.com##.placeholder-box

! 中国新闻网清理
chinanews.com##.bottomBox

! nga清理
bbs.nga.cn,nga.178.com,ngabbs.com###mainmenu
bbs.nga.cn,nga.178.com,ngabbs.com##body > div:nth-of-type(4)
bbs.nga.cn,nga.178.com,ngabbs.com##.teal
bbs.nga.cn,nga.178.com,ngabbs.com###m_pbtntop
bbs.nga.cn,nga.178.com,ngabbs.com###m_pbtnbtm

! 石墨文档清理
shimo.im##.invokeAppBtn
shimo.im##.app-link
shimo.im###footer

! 网易mc清理
mc.netease.com###stickyBar
mc.netease.com###refresh_btn
mc.netease.com##.expand-link

! ebb清理
ebb.io##.mfloat-ads

! wattpad清理
wattpad.com###generic-modal > .modal-dialog
wattpad.com###generic-modal
wattpad.com##.modal-backdrop

! 秘迹清理
mijisou.com##.proxy > .tips

! 在线查询网清理
supfree.net##.navigation

! phonosynthesismusic清理
phonosynthesismusic.com###h237

! 小z博客清理
xiaoz.me##.gg5
xiaoz.me##.top
xiaoz.me##.layui-col-lg3

! 今日头条清理
toutiaoimg.cn##.recommendation-container
toutiaoimg.cn##.bottom-banner-container-new

! 腾讯网清理
xw.qq.com##.landad
xw.qq.com##.feedback
xw.qq.com##.recommend-modules

! 数码之家清理
mydigit.cn##.wrap > .mb5

! 少数派清理
sspai.com##.recommend
sspai.com##.open-in-app-button

! 蓝奏云清理
lanzous.com##.bgimg
lanzous.com##.top

! 屏库网清理
panelook.cn###rightrow
panelook.cn##.pageHead

! 天天快报清理
kuaibao.qq.com###top_downloader
kuaibao.qq.com##.J-sliderbox
kuaibao.qq.com##.hotvideo
kuaibao.qq.com##.downloadBtn
kuaibao.qq.com##.J-hotwrap
kuaibao.qq.com##.showmoremask

! 掘金清理
juejin.im##.mobile-bottom-bar
juejin.im##.suspension-panel

! mcbbs清理
mcbbs.net##.view_share
mcbbs.net###ainuo_quick_bot

! zaker清理
myzaker.com##.zk_top_barwrap

! 环球网清理
huanqiu.com##.content-tool
huanqiu.com##mip-infinitescroll

! 微博国际版清理
weibointl.api.weibo.cn##.weibo-og > div:nth-of-type(3)
weibointl.api.weibo.cn##.card:nth-of-type(3)
weibointl.api.weibo.cn##.comment-content > div > .comment-item
weibointl.api.weibo.cn##.footer_suspension